.collapse {
    border-collapse: collapse;
    border: solid 2px red;
}

.separado {
    border-collapse: separate;
    border: solid 2px green;
}

.black {
    padding: 5px;
    border: solid 1px black;
}