body {
    background-color: lime;
}

h1 {
    color: rgb(252, 76, 252); 
    background-color: powderblue;
}
h2 {
    color:rgb(76, 194, 29); 
    background-color: peru;
}
h3 {
    color:deeppink; 
    background-color: yellow;
}
h4 {
    color:palevioletred; 
    background-color: royalblue;
}
h5 {
    color:rgb(24, 180, 115); 
    background-color: mediumorchid;
}
h6 {
    color:violet; 
    background-color: green;
}
