#wrapper{
    width: 60em;
    margin: 0 auto;
}
header {
    text-align: center;
}
#navDatos{
    float: left;
    width: 16em;
    padding: 0;
    margin: 0;
    
}
#main{
    float: left;
    width: 44em;
    padding: 0;
    margin: 0;
}
#contenido{
    list-style-type: none;
    padding: 0;
}
#contenido li{
    float: left;
    width: 33.33%;
}
