@media (max-width = 600px) {
}

@media (min-width = 601px) and (max-width = 1200px) {
    
}

@media (min-width = 1201px) {
    #wrapper{
        width: 80%;
        margin: 0 auto;
    }
    header {
        text-align: center;
    }
    #navDatos{
        float: left;
        width: 25%;
        padding: 0;
        margin: 0;
        
    }
    #main{
        float: left;
        width: 75%;
        padding: 0;
        margin: 0;
    }
    #contenido{
        list-style-type: none;
        padding: 0;
    }
    #contenido li{
        float: left;
        width: 33.33%;
    }
}